.about_box {
  padding-bottom: 50px;
}

.about_1 ul,
.about_2 ul {
  list-style: none;
  overflow: hidden;
  height: 150px;
  margin-bottom: -30px;
  text-align: left;
}

.about_2 ul {
  text-align: right;
  margin-top: 100px;
}

.about_1 ul li h1 {
  margin-left: -40px;
  color: white;
  font-size: 80px;
  font-weight: 400;
  list-style: none;
  position: relative;
  top: 0;
  animation: slide 6s steps(4) infinite;
}

.about_2 ul li h1 {
  margin-left: -40px;
  color: white;
  font-size: 80px;
  font-weight: 400;
  list-style: none;
  position: relative;
  animation: none;
}

@keyframes slide {
  100% {
    top: -360;
  }
}

.about_1 ul li span {
  position: relative;
}

.about_1 ul li h1 span::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-left: 2px solid white;
  left: 0;
  background-color: #343434;
  animation: typing 4s steps(10) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

.about_1 p,
.about_2 p {
  font-size: 50px;
  color: white;
  font-weight: 100;
  width: 85%;
}

.about_2 p {
  text-align: right;
  width: 100%;
}

.about_box_display {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.about_box_display p {
  width: 45%;
  font-size: 45px;
  color: white;
  text-align: right;
  font-weight: 200;
}

.about_box_display img {
  width: 50%;
}

@media screen and (max-width: 1120px) {
  .about_1 ul li h1 {
    animation: none;
  }

  .about_1 ul li h1 span::after {
    display: none;
    height: 100%;
    width: 100%;
    border-left: none;
    left: 0;
    background-color: #343434;
    animation: none;
  }
}

@media screen and (max-width: 1420px) {
  .about_box_display {
    display: block;
  }

  .about_box_display img {
    width: 100%;
  }

  .about_box_display p {
    margin-top: 60px;
    width: 100%;
    font-size: 40px;
    color: white;
    text-align: left;
    font-weight: 200;
  }
}

@media screen and (max-width: 1085px) {
  .about_1 ul li h1,
  .about_2 ul li h1 {
    font-size: 70px;
  }

  .about_1 ul,
  .about_2 ul {
    overflow: visible;
    margin-bottom: -30px;
    height: auto;
  }
}
